.contact {
	position: relative;

	&__modal {
		width: 33vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: $color-white;
		box-shadow: 0 1rem 4rem rgba($color-black, .8);
		z-index: 1500;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: $default-border-radius;
		padding: 2rem 4rem;
	}

	&__modal-row {
		display: flex;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
	
	&__modal-image {
		height: 72px;
		&:hover {
			fill: $color-primary;
		}
	}

	&__modal-image-container {
		width: 20%;
	}

	&__modal-text-container {
		width: 80%;
	}

	&__modal-title {
		font-size: 1.6rem;
		color: $color-secondary-dark
	}

	&__modal-text {
		font-size: 1.3rem;
	}

	&__backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba($color-black, .6);
		z-index: 1000;
	}

	&__button {
		position: fixed;
		top: 1.5rem;
		right: 10rem;
		z-index: 1000;
		cursor: pointer;
		
		@include respond(tab-land) {
			top: 1.5rem;
			right: 7.5rem;
		}
		@include respond(tab-port) {
			top: 3.5rem;
			right: 1.5rem;
		}
	}

	&__icon {
		height: 5rem;

		&--main {
			color: $color-primary;
			fill: currentColor;
			@include respond(tab-port) {
				color: $color-secondary;
			}
		}

		&--sub {
			color: $color-secondary;
			fill: currentColor;
			@include respond(tab-port) {
				color: $color-primary-dark;
			}
		}
	}

	&__list-box {
		position: fixed;
		top: 3.5rem;
		right: 10rem;
		z-index: 1000;
		opacity: 0;
		transform: scale(0);
		transform-origin: top;
		transition: all .7s;
		
		@include respond(tab-land) {
			right: 7.5rem;
		}
		@include respond(tab-port) {
			right: .5rem;
			padding: 1rem;
			background-color: rgba($color-white, .4);
		}
	}

	&__list {
		list-style: none;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	&__link {
		
	}
}