.header {
	height: 99vh;
	background-image: linear-gradient(
		to right bottom, 
		rgba($color-primary-light, .8), 
		rgba($color-primary-dark, .8)), 
		url("./assets/images/header-bg-sm.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

	@media (min-resolution: 192dpi) and (min-width: 37.5rem),
		(min-width: 125em) {
		background-image: linear-gradient(
			to right bottom, 
			rgba($color-primary-light, .8), 
			rgba($color-primary-dark, .8)), 
		  url("./assets/images/header-bg-lg.jpg");
	}

	&__text-box {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}