// COLORS
$color-primary: #DCCA84;
$color-primary-light: #FFF1BC;
$color-primary-dark: #B7A250;

$color-secondary: #4c7602;
$color-secondary-light: #679417;
$color-secondary-dark: #375500;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-silver: #C0C0C0;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;
$default-header-size: 4rem;

// BORDER-RADIUS
$default-border-radius: 3px;
$btn-border-radius: 10rem;